<div ng-controller="AboutController" ng-cloak>

  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <h1>关于我们</h1>
          </md-card-title-text>
        </md-card-title>
        <md-divider></md-divider>
        <md-card-content layout="row" layout-align="space-between">
            <div class="md-media-xl card-media">
              <h4>首要污染物</h4>
              <md-divider></md-divider>
              <h4>对健康的影响</h4>
              <md-divider></md-divider>
              <h4>建议措施</h4>
              <md-divider></md-divider>
            </div>
            <md-card-actions layout="column">
                <img src="/env/static/img/air1.png" class="md-card-image" alt="空气质量">
            </md-card-actions>
        </md-card-content>
      </md-card>
    </div>

      <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <img src="/env/static/img/air.jpg" class="md-card-image" alt="">
      </md-card>
      </div>

  </md-content>

</div>



