<div ng-controller="HomeController" layout-fill ng-cloak layout="column">
	<angular-bmap class="mainContent">
	</angular-bmap>
	<div class="lock-size label-pos" layout="column" layout-align="center center">
      <md-fab-speed-dial>
        <!-- <md-fab-trigger> -->
          <md-button aria-label="AQI" class="md-fab md-warn">
            <md-tooltip md-direction="left" md-visible="tooltipVisible">100</md-tooltip>
            AQI
          </md-button>
        <!-- </md-fab-trigger> -->
          <md-button aria-label="pm25" class="md-fab md-raised md-accent">
            <md-tooltip md-direction="left" md-visible="tooltipVisible">100</md-tooltip>
            PM2.5
          </md-button>
          <md-button aria-label="pm10" class="md-fab md-raised md-accent">
            <md-tooltip md-direction="left" md-visible="tooltipVisible">100</md-tooltip>
            PM10
          </md-button>
          <md-button aria-label="so2" class="md-fab md-raised md-accent">
            <md-tooltip md-direction="left" md-visible="tooltipVisible">100</md-tooltip>
            SO2
          </md-button>
          <md-button aria-label="no" class="md-fab md-raised md-accent">
            <md-tooltip md-direction="left" md-visible="tooltipVisible">100</md-tooltip>
            NO
          </md-button>
          <md-button aria-label="no2" class="md-fab md-raised md-accent">
            <md-tooltip md-direction="left" md-visible="tooltipVisible">100</md-tooltip>
            NO2
          </md-button>
          <md-button aria-label="co" class="md-fab md-raised md-accent">
            <md-tooltip md-direction="left" md-visible="tooltipVisible">100</md-tooltip>
            CO
          </md-button>
          <md-button aria-label="o3" class="md-fab md-raised md-primary">
            <md-tooltip md-direction="left" md-visible="tooltipVisible">100</md-tooltip>
            O3 1h
          </md-button>
        
      </md-fab-speed-dial>
    </div>
</div>





